/* Variables
-------------------------------------*/
$teal: #36B9AC;
$dark-teal: #176059;
$light-teal: #27A296;
$hip-blue: #B3C9D8;
$pine-green: #07332F;

$pacifico: 'Lobster', cursive;
$hammersmith: 'Hammersmith One', sans-serif;
$satisfy: 'Satisfy', cursive;

/* Mixins
-------------------------------------*/
@mixin shadow-bottom {
	-webkit-box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.75);
}

@mixin shadow-top {
	-webkit-box-shadow: 0px -3px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -3px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px -24px 0px rgba(0,0,0,0.75);
}


/* Body customs
--------------------------------------*/
.full {
	max-width: 100%;
	text-align: center;
}

.app-container {
	width: 100%;
	height: 100%
}

a { transition: color 0.3s ease; }
