<div id="{{ display.container }}">

	<div id="{{ display.divs }}-nav">
		<ul>
			<li><a href="/">&laquo;Back</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
		</ul>
	</div>

	<div class="container">

		<div class="row {{ display.divs }}-section1">
			<h1>{{ display.title }}</h1>

			<p>Hipster Ipsum Sint try-hard fingerstache, Neutra quinoa Helvetica paleo Etsy church-key lumbersexual aliqua anim. Esse sint biodiesel, laborum aute cray bespoke.</p>
		</div>

		<div class="row {{ display.divs }}-section2">
			<div class="large-4 column">
				<img src="assets/imgs/hipsterIcons/glasses.png">
				<h3>Something about the above image.</h3>
			</div>

			<div class="large-4 column">
				<img src="assets/imgs/hipsterIcons/coffee.png">
				<h3>Something about the above image.</h3>
			</div>

			<div class="large-4 column">
				<img src="assets/imgs/hipsterIcons/convers.png">
				<h3>Something about the above image.</h3>
			</div>
		</div>

		<div class="row {{ display.divs }}-section3">
			<div class="large-6 column">
				<h4>This is a subtitle..</h4>
				<p>Mustache Vice forage scenester. Salvia four loko cillum commodo, Neutra umami Brooklyn. Authentic tofu cred craft beer deep v laborum est. Paleo aliquip ethical lo-fi aute, est eiusmod tilde mollit typewriter Marfa minim cliche. </p>
			</div>

			<div class="large-6 column">
				<p>Bicycle rights Truffaut Neutra hella wayfarers. Cillum kogi taxidermy minim Blue Bottle dolor, pug disrupt pop-up cornhole labore asymmetrical nesciunt skateboard. Occupy artisan Austin id, et polaroid kitsch cillum nisi street art fingerstache ethical.</p>
			</div>
		</div>

		<div class="row {{ display.divs }}-footer">
			<div class="large-6 column">
				<p>&lt;&nbsp;/&gt; with <span class="fi-heart"> by <a href="http://tatianakerick.com">Tatiana Kerick</a></span></p>
			</div>

			<div class="large-6 column text-right">
				<p>InterChange &copy; 2015</p>
			</div>
		</div>

	</div>

</div><!-- display.title -->