$grey: #312e30;
$white: #d3d3d3;
$light-purple: #C1BBC1;

#circles {
	background: 
		linear-gradient(rgba(45, 3, 50, 0.65), rgba(21, 13, 29, 0.9)), 
		url(../assets/imgs/bgs/nature-sky-clouds-cloudy.jpg);
	background-size: 100%;
	background-attachment: fixed;
	width: 100%;

	#circles-nav {
		width: 100%;
		text-align: center;

		ul {
			padding: 40px 0 25px 0;

			li {
				list-style-type: none;
				display: inline-block;
				margin: 0 50px 20px 50px;

				a {
					font-size: 17px;
					transition: border-bottom .3s ease;
					color: #B7ADC5;

					&:hover {
						border-bottom: 3px solid #A951A0; 

					}
				}

				&:nth-child(2) {
					margin-right: 27%;
				}

			}
		}

		ul::after {
			content: url(../assets/imgs/hipsterIcons/circles-logo.png);
			right: 43%;
			top: 10px;
			position: absolute;
		}
	}

	.circles-section1 {
		text-align: center;
		margin-top: 50px;
		margin-bottom: 70px;
		background: #131010;
		width: 400px;
		height: 400px;
		border-radius: 50%;
		padding-top: 90px;

		-webkit-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.75);

		h1 {
			font-family: $dancing;
			color: $white;
		}
		h1::after {
			content: '-';
			display: block;
			font-size: 180px;
			position: relative;
			top: -129px;
			height: 20px;
		}

		p {
			color: $white;
			width: 370px;
			padding: 32px 0 0 27px;
		}
	}


	.circles-section2 {
		h3 { 
			color: $light-purple;
			width: 250px;
	    text-align: center;
	    padding: 100px 0 0 40px; 
		}

		.large-4 {
			float: none;
			clear: left;
			height: 332px;
			width: 100%;

			img { display: none; }
		}

		.col-1 {
			background: url(../assets/imgs/hipsterIcons/glasses.png);
			background-size: 30%;
			background-position-x: 88%;
			background-repeat: no-repeat;

			h3 {
				margin-left: 120px;
			}
		}


		.col-2 {
			background: url(../assets/imgs/hipsterIcons/coffee.png);
			background-size: 30%;
			background-position-x: 24%;
			background-repeat: no-repeat;

			h3 {
				margin-left: 63%;
			}
		}

		.col-3 {
			background: url(../assets/imgs/hipsterIcons/convers.png);
			background-size: 30%;
			background-position-x: 88%;
			background-repeat: no-repeat;

			h3 {
				margin-left: 120px;
			}
		}
	}

	.circles-section3, .circles-footer {
		max-width: 100%;
		margin-top: 50px;
		padding: 20px 16%;
		background: rgba(255, 255, 255, 0.09);
			
		h4 { color: $light-purple; }
		p { color: #E6E1E6; }

		.large-6:last-child { margin-top: 39px; }
	}

	.circles-footer { 
		margin-top: 0;
		padding-top: 60px; 
		text-align: center;

		a {
			transition: border-bottom .3s ease;
			color: #B7ADC5;

			&:hover {
				border-bottom: 3px solid #A951A0; 

			}
		}

		.large-6 {
			float: none;
			clear: left;
			max-width: 100%;
			margin: 0 auto;

			&:last-child { 
				margin-top: 0; 
				margin-left: 90px;
			}
		}
	}

}