$grey: #E2E3E3;
$brown: #86644a;
$blue: #cbd8db;
$charcoal: #343434;

#grid {
	background: $grey;


	#grid-nav {
		text-align: center;
		background: url(../assets/imgs/bgs/workspace.jpg);
		background-size: 100%;
		background-position-y: -456px;
		background-repeat-y: no-repeat;
		height: 400px;

		ul {
			li {
				list-style-type: none;
				display: inline-block;
				margin: 30px 40px;

				a {
					color: $blue;
					font-size: 18px;

					&:hover { color: $brown; }
				}
			}
		}
	}


	.grid-section1 {
		height: 350px;
		padding: 100px 10%;
		text-align: center;

		h1 {
			font-size: 20px;
			font-weight: 500;
		}
	}


	.grid-section2 {
		max-width: 100%;


		.large-4 {
			clear: left;
			float: none;
			display: block;
			width: 100%;
			height: 450px;

			img {
				display: none;
			}
		}

		.col-1 {
			background: url(../assets/imgs/bgs/woodtop.jpg) #CACACA;
			background-size: 50%;
			background-repeat: no-repeat;

			h3 {
				margin-left: 69%;
				width: 210px;
				text-align: center;
				padding-top: 186px;
			}
		}

		.col-2 {
			background: url(../assets/imgs/bgs/workspace.jpg) #9C9C9C;
			background-size: 50%;
			background-repeat: no-repeat;
			background-position-x: 100%; 
			margin-top: -4px;

			h3 {
				margin-left: 16%;
				width: 210px;
				text-align: center;
				padding-top: 186px;
			}
		}

		.col-3 {
			height: 300px;
			text-align: center;
			margin-top: -4px;

			h3 {
				width: 300px;
				padding-top: 100px;
				color: #9C9C9C;
				margin-left: 39%;
			}
		}
	}

	.grid-section3 {
		max-width: 100%;
		height: 400px;
		background: url(../assets/imgs/bgs/airspace.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position-y: -332px;
		padding: 50px 0 0 30%;

		.large-6 {
			clear: left;
			float: none;
			display: block;
			background: rgba(255, 255, 255, 0.5);
			text-align: center;


			&:last-child { display: none; }
		}
	}


	.grid-footer {
		height: 80px;
		padding-top: 32px;

		p { 
			color: $charcoal;

			a { 
				color: $charcoal; 

				&:hover { color: $brown; }
			}
		}
	}
}